.card {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 400px;
    margin: 16px auto;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card label {
    font-weight: bold;
    margin-bottom: 4px;
}

.card input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}

.button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 0 16px;
    width: 140px;
}

.button:hover {
    background-color: #0056b3;
}

.submit-button {
    background-color: rgb(229, 229, 229);
    color: #000000;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 16px;
}

.submit-button:hover {
    background-color: rgb(174, 174, 174);
}


.collapsible-button {
    background-color: #1ac400;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 0 16px;
    width: 140px;
}

.collapsible-button:hover {
    background-color: #138f00;
}

.postcard {
    margin: 16px auto;
    max-width: 550px;
    background-color: rgb(250, 255, 192, 0.9);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 8px 10px 4px;
    border-radius: 10px;
}